h1, h2, h3, h4 {
    font-family: 'Poiret One', cursive;
    text-align: center;
}

h1 {
    font-size: 40pt;
    font-weight: bold;
}

h3 {
    font-size: 22pt;
}

.masonry {
    display:flex;
    flex-flow: row wrap;
    width: 100%;
}

span {
    align-content: center;
}

.brick img {
    flex: auto;
    height: 400px;
    padding: 5px;
}

.brick p {
    font-family: 'Poiret One';
    word-wrap: normal;
    padding: 5px;
    background: gainsboro;
    flex: auto;
    width: 250px;
    text-align: left;
}